appnope==0.1.2
backcall==0.2.0
cloudpickle==1.6.0
decorator==4.4.2
future==0.18.2
gym==0.18.0
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.18.0
mdptoolbox-hiive==4.0.3.1
networkx==2.5.1
numpy==1.19.5
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.18
ptyprocess==0.7.0
pydot==1.4.2
pyglet==1.5.0
Pygments==2.8.1
pymdptoolbox==4.0b3
pyparsing==2.4.7
scipy==1.5.4
six==1.15.0
traitlets==4.3.3
wcwidth==0.2.5
